<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackathonKakee"
        tools:targetApi="31">
        <activity
            android:name=".organizer.OrganizerMyHackathon"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".organizer.CreateNewHackathonActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".organizer.OrganizerHomePageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".participant.ParticipantHomePageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".general.ForgotPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".general.CreateAccountActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".general.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".general.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".organizer.ShowTeams"
            android:exported="false"
            android:parentActivityName=".organizer.HackathonSetting" />
        <activity
            android:name=".organizer.CreateAnnouncement"
            android:exported="false"
            android:parentActivityName=".organizer.ManageAnnouncement" />
        <activity
            android:name=".organizer.EditAnnouncement"
            android:exported="false"
            android:parentActivityName=".organizer.ManageAnnouncement" />
        <activity
            android:name=".organizer.ManageAnnouncement"
            android:exported="false"
            android:parentActivityName=".organizer.HackathonSetting" />
        <activity
            android:name=".organizer.ShowParticipants"
            android:exported="false"
            android:parentActivityName=".organizer.HackathonSetting" />
        <activity
            android:name=".organizer.HackathonSetting"
            android:exported="false"/>
    </application>

</manifest>